<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <!-- <div class="col-md-2 no-float sidebar">
      <app-sidemenu></app-sidemenu>
    </div> -->
    <div class="col-md-12 ">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
